body {
  background: linear-gradient(
    to bottom right,
    rgb(139, 5, 5),
    rgba(255, 0, 0, 0.781)
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 50px;
  padding-bottom: 5px;
}

.author {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 50px;
}

.piano {
  display: flex;
  max-width: 100vw;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.white {
  --width: 70px;
  background: white;
  border: 1px solid #333;
  color: black;
  font-size: 1.5rem;
  cursor: url(../images/cursor-jordan.png), auto;
}

.black {
  --width: 35px;
  background: black;
  margin-left: calc(var(--width) / -0.7);
  margin-right: calc(var(--width) / -0.7);
  z-index: 2;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 20px;
  cursor: url(../images/cursor-jordan-wht.png), auto;
}

.white.active {
  background: rgb(202, 202, 202);
}

.black.active {
  background: rgb(87, 86, 86);
}

.note {
  padding: 30px 30px 0px;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.note:hover {
  transform: scale(1.25, 1.25);
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

table {
  font-size: 1.25rem;
  background: whitesmoke;
  margin-bottom: 100px;
  border: 2px solid black;
  border-radius: 7px;
  width: 400px;
}


.instructions { font-size: .85rem;}

.warning {
    display: none;
    text-align: center;
    padding: 0 25px;
    font-size: .875rem;
}

@media (max-width: 774px) {
    .key {
        display: none;
    }
    .warning {
        display: block;
        font-size: 1.5rem;
  }
      
.instructions {
    display: none;
}

.instructions-2 {
    display: none;
}

table {
    display: none;
}

}


@media (min-width: 699px) {
 
    
.instructions-2 {
    display: none;
}
.piano {
        padding-bottom: 50px;
    }

}





